#gameArea {
 user-select: none;
 -webkit-user-select: none;
 touch-action: none;
 font-size: 1vw;
}

.brickPile {
  position: absolute;
  top: 0;
  left: 51%;
  width: 50%;
  height: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wall {
  width: 51%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  border: 0.3ex solid rgba(0,0,0,0.45);
  background: transparent;
  color: rgb(20,20,20);
  cursor: default;
  display: flex;
  flex-direction: column;
}

.brick {
  display: inline-block;
  padding: 0;
  margin: 0;
  border-radius: 0.4ex;
  box-shadow: inset 0 0 0 0.1ex black;
  background: brown;
  color: white;
}

.empty {
  border-radius: 0.4ex;
  background: rgba(100, 100, 100, 0.5);
}
.empty.preview {
  background: lightgreen;
}

.brick.movable {
  background: rgb(196, 154, 108);
}
.brick.movable.ghost {
  background: rgba(196, 154, 108, 0.5);
}

.brickRow {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2.5vw;
}