.brickWallContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.wall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wallRow {
    display: flex;
    margin: 8px 0;
}

.dropSlot {
    width: 60px;
    height: 40px;
    border: 2px dashed #888;
}

.brick {
    height: 40px;
    min-width: 60px;
}

.fixed {
    background: #884d1f;
}

.movable {
    cursor: grab;
}

.looseBrick {
    position: absolute;
}