.forest {
  width: 70%;
  height: 100%;
  background-color: rgb(210, 210, 210);
  }

.buttonContainer {
  position: absolute;
  bottom: 0;
  right: 5%;
  }

.path {
  stroke: black;
  stroke-width: 1;
  fill: none;
  transition: stroke 0.05s ease;
  pointer-events: stroke;
  }

.path:hover {
  stroke: orange;
  }