.forest {
  width: 60%;
  height: 100%;
  background-color: rgb(210, 210, 210);
  padding: 3%;
  background-size: auto 100%;
  }

.messageBox {
  font-size: 100%;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
  right: 5%;
  }

.path {
  stroke: black;
  stroke-width: 5;
  fill: none;
  transition: stroke 0.05s ease;
  pointer-events: none;
  }
.hitPath {
  fill: none;
  stroke: transparent;
  stroke-width: 80;
  pointer-events: stroke;
  }
.overlayTextarea {
  opacity: 0.7;
  font-size: 30%;
  }
.overlayTextarea::-webkit-scrollbar {
  height: 0;
  }

.edge:hover .path {
  stroke: orange;
  }
.edge:hover .overlayTextarea {
  border-color: orange;
  transition: border 0.15s ease;
  }