.forest {
  position: relative;
  width: 75vw;
  height: 100vh;
  }

.node {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  }

.edge {
  position: absolute;
  border-top: 2px dotted black;
  transform-origin: 0 0;
  }

.tooltip {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
    
  background: #222;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  white-space: pre;
  font-family: monospace;
  font-size: 12px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  }

.node:hover .tooltip {
  opacity: 1;
  }