.topSection {
  position: relative;
  width: 100%;
  height: 59.99%;
  background-color: rgb(100, 100, 100);
  }
.topLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding: 2ex;
  }
.topCenter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;
  padding: 2ex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8ex;
  overflow: visible;
  }
.topRight {
  position: absolute;
  overflow: visible;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  padding: 2ex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8ex;
}

.scrolling-background {
  width: 100%;
  height: 40%;
  position: relative;
  overflow: hidden;
}
.back-layer {
  width: 100%;
  height: 100%;
  background-image: url('back1.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: scrollBackground 43200s linear infinite;
}
.character {
  width: 5ex;
  height: 10ex;
  background-image: url('side1.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: characterMovement 30s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
  z-index: 2;
}
.small-character {
  width: 5ex;
  height: 10ex;
  background-image: url('side2.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25%;
  left: 60%;
  transform: translate(-50%, 0);
  animation: smallCharacterMovement 35s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
  z-index: 2;
}
.front-layer {
  width: 100%;
  height: 100%;
  background-image: url('front1.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: scrollFrontBackground 86400s linear infinite;
  z-index: 3;
}

@keyframes scrollBackground {
  from { background-position: 0 0; }
  to { background-position: -100000ex 0; }
}

@keyframes scrollFrontBackground {
  from { background-position: 0 0; }
  to { background-position: -500000ex 0; }
}

@keyframes characterMovement {
    0% { transform: translate(-50%,    0); }
   10% { transform: translate(-70%,  -3%); }
   20% { transform: translate(-40%,   5%); }
   30% { transform: translate(-75%,  -8%); }
   40% { transform: translate(-30%,  10%); }
   50% { transform: translate(-55%,    0); }
   60% { transform: translate(-80%,  -5%); }
   70% { transform: translate(-45%,   8%); }
   80% { transform: translate(-60%,   3%); }
   90% { transform: translate(-50%, -10%); }
  100% { transform: translate(-50%,    0); }
}

@keyframes smallCharacterMovement {
    0% { transform: translate(-50%,    0); }
   10% { transform: translate(-30%,   2%); }
   20% { transform: translate(-25%,  -4%); }
   30% { transform: translate(-70%,   6%); }
   40% { transform: translate(-40%,  -8%); }
   50% { transform: translate(-65%,    0); }
   60% { transform: translate(-35%,  10%); }
   70% { transform: translate(-55%,  -5%); }
   80% { transform: translate(-60%,   8%); }
   90% { transform: translate(-50%,  -6%); }
  100% { transform: translate(-50%,    0); }
}

.buttonRow {
  display: flex;
  align-items: center;
  margin-bottom: 1ex;
  overflow: visible;
}

.buttonRow button {
  margin-right: 1ex;
  font-size: 2.2ex;
}
.topLeft .overlayTextarea {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.roundBtn button .emoji{ filter: brightness(0.75) contrast(2.5); }

.roundBtn button {
  background-image: radial-gradient(circle, rgba(200, 180, 160, 1) 20%, rgba(230, 150, 100, 1) 100%);
}
.roundBtn button:hover {
  background-image: radial-gradient(circle, rgba(190, 170, 150, 1) 20%, rgba(220, 140, 90, 1) 100%);
}

.messageBox {
  top: 50%;
  left: 49.5%;
  transform: translate(-0.5%, -50%);
  }