@keyframes correctGlowA {
    0% { box-shadow: 0 0 3ex rgba(50, 255, 50, 1), 0 0 3ex rgba(50, 255, 50, 0.9), 0 0 5ex rgba(50, 255, 50, 0.8); }
   50% { box-shadow: 0 0 5ex rgba(0, 255, 0, 1), 0 0 5ex rgba(0, 255, 0, 0.9), 0 0 8ex rgba(0, 255, 0, 0.8); }
  100% { box-shadow: 0 0 3ex rgba(50, 255, 50, 1), 0 0 3ex rgba(50, 255, 50, 0.9), 0 0 5ex rgba(50, 255, 50, 0.8); }
  }
@keyframes incorrectGlowA {
    0% { box-shadow: 0 0 3ex rgba(255, 165, 50, 1), 0 0 3ex rgba(255, 140, 0, 0.9), 0 0 5ex rgba(255, 120, 0, 0.8); }
   50% { box-shadow: 0 0 5ex rgba(255, 140,  0, 1), 0 0 5ex rgba(255, 100, 0, 0.9), 0 0 8ex rgba(255,  80, 0, 0.8); }
  100% { box-shadow: 0 0 3ex rgba(255, 165, 50, 1), 0 0 3ex rgba(255, 140, 0, 0.9), 0 0 5ex rgba(255, 120, 0, 0.8); }
  }
.correctGlow { animation: correctGlowA 0.7s infinite alternate; }
.incorrectGlow { animation: incorrectGlowA 0.7s infinite alternate; }

.customMessage {
  color: rgb(255, 140, 0);
  font-weight: bold;
  }
