* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  overflow: hidden;
  }
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(100,100,100);
  }
button {
  padding: 0.1ex 0.2ex;
  background-color: #f0f0f0;
  cursor: pointer;
  line-height: 0;
  border-radius: 0;
  border-top: 0.1ex solid #fff; /* Lighter top border to simulate light */
  border-left: 0.1ex solid #fff; /* Lighter left border to simulate light */
  border-right: 0.1ex solid #ccc; /* Darker right border for shadow effect */
  border-bottom: 0.1ex solid #ccc; /* Darker bottom border for shadow effect */
  box-shadow: 0.1ex 0.2ex 0.5ex rgba(0, 0, 0, 0.1); /* Add subtle overall shadow */
  transition: all 0.2s ease;
}
button:hover {
  background-color: #ddd;
  border-top: 0.1ex solid #bbb; /* Darken top border */
  border-left: 0.1ex solid #bbb; /* Darken left border */
  border-right: 0.1ex solid #999; /* Darken right border */
  border-bottom: 0.1ex solid #999; /* Darken bottom border */
}
small{
  font-size: 0.5ex;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  }
button:active {
  background-color: #ccc;
  border-top: 0.1ex solid #ccc; /* Darker top border when pressed */
  border-left: 0.1ex solid #ccc; /* Darker left border when pressed */
  border-right: 0.1ex solid #fff; /* Lighter right border when pressed */
  border-bottom: 0.1ex solid #fff; /* Lighter bottom border when pressed */
  box-shadow: inset 0.1ex 0.2ex 0.5ex rgba(0, 0, 0, 0.1); /* Inset shadow for pressed state */
}
  
.gameArea {
  --aspect-ratio: 2.1;
  --max-width: calc(100vh * var(--aspect-ratio));
  --max-height:calc(100vw / var(--aspect-ratio));
  --effective-width:  min(100vw, var(--max-width));
  --effective-height: min(100vh, var(--max-height));
  width: var(--effective-width);
  height: var(--effective-height);
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: calc(var(--effective-height) * 0.1);
  background-color: lightcoral;
  }
.img_16_9 {
  width: auto;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  }
.itemColumn {
  /*display: flex;*/
  float: right;
  width: 15%;
  padding: 0.2ex;
  flex-direction: column;/*use css grid instead*/
  gap: 1ex;
  }
.contentItem {
  float: left;
  width: 85%;
  display: none;
  position: relative;
  }
.contentItem.active {
  display: block;
  }