#climbLeft,
#climbRight,
#questionHelp,
.questionText,
#codeUnderRock,
#apiContainer {
  top: 0%;
  left:0%;
  height: 100%;
  width: 100%;
  position: absolute;
  contain: layout; /*inner elements can be absolute too*/
  }
#climbLeft { left: 0.2%; width: 74%; }
#climbRight {left: 75%; width: 24.5%; overflow:visible;}

#apiContainer { top:0.5%; height: 30%; overflow-y: scroll; } 
#api { width: 100%; min-height: 100%; position: static; }
#questionHelp { top: 31%; height: 30%; }
.questionText { top: 65%; height: 30%; }
#climbRight {
  background-image: url("../../resources/climb/images/mountainWall.png");
  background-repeat: repeat-y;
  position: relative;
  background-position: center 0%;
  background-size: 68%;
  background-repeat: repeat;
  }
.rock {
  position: absolute;
  bottom: 51%;
  width: 2.4ex;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  animation: rockGlow 1s ease-in-out infinite;
  animation-delay: calc(5s + (var(--random-delay) * 2s));
  }
@keyframes rockGlow {
    0% { filter: brightness(1); transform: scale(1); }
   50% { filter: brightness(1.07); transform: scale(1.01); }
  100% { filter: brightness(1); transform: scale(1); }
  }  

#scoreCounter{ top:0.5%; left:16%; font-size: 1ex;}
#draggedCode{padding:0.8ex; z-index:11;}
#codeUnderRock{ z-index:10; }

#climber {
  margin-top:50%;
  margin-left:20%;
  width: 60%;
  height: auto; 
  user-drag: none;
  -webkit-user-drag: none;
  transition: transform 0.2s ease-in-out;
  animation: rockGlow 1s ease-in-out infinite, 
             oscillate 10s ease-in-out infinite;
  animation-delay: calc(5s + (var(--random-delay) * 2s));
  }
@keyframes oscillate {
   0% { transform: translateX(-2%); }
  50% { transform: translateX(2%); }
 100% { transform: translateX(-2%); }
 }