#codeBaskets {
  width: 65%;
  height: 63%;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8ex;
}
.codeBasket {
  width: 20%;
  height: 50%;
  background-color: rgb(32, 77, 150);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 0.1ex solid white;
}
.codeBasketTitle {
  height: 15%;
  width: 100%;
  background-color: rgb(26, 59, 117);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 0.1ex solid white;
}
.codeBasketContent{
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5ex;
  padding: 0.5ex;
  box-sizing: border-box;
}
.basketSlot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 59, 117);
  border: 0.1ex solid white;
  box-sizing: border-box;
}
#cardDeck {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 35%;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  }
.card {
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  grid-template-rows: 10% 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  box-sizing: border-box;
  }
.cardTitle {
  font-size: 0.9ex;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 196, 15);
  color: white;
  box-sizing: border-box;
}
.cardImage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 161, 65);
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}
.cardCode {
  position: relative;
  font-size: 1.3ex;  
  }
.disableSelection {/*where is needed?*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  }
#mouseOverCodeBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 40%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(223, 72, 16);
  display: none;
  }
.commonCode {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  width: 47%;
  height: 34%;
  background-color: rgb(155, 155, 155);
  font-size: 1.8ex;
  }
.buttonContainer {/* Adds to the common style to place them */
  position: absolute;
  bottom: 0;
  right: 0;
  }
.overlayTextarea {/* Adds to the common style to size it 100% */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }