#codeBaskets {
  width: 65%;
  height: 63%;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8ex;
  }
.codeBasket {
  width: 20%;
  height: 50%;
  background-image: url('../../resources/gather/images/Basket/Basket.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -1.5ex 3ex;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 0.1ex solid white;
  }
.codeBasketTitle {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-top:0.2ex solid black;
  border-left:0.1ex solid black;
  }
.codeBasketContent{
  height: 90%;
  width: 100%;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  /*grid-template-rows: repeat(3, 1fr);*/
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows:    repeat(3, minmax(0, 1fr));
  gap: 0.5ex;
  padding: 0.5ex;
  box-sizing: border-box;
  min-height:0;
  }
.codeBasketContent img { border: 0.05ex solid black; }

.basketSlot {
  position: relative;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  box-sizing: border-box;
  width: 100%;
  /*height: 100%;*/
  }
#codeBasketTrash{
  background-image: url('../../resources/gather/images/Basket/TrashBasket.png');
  }
#cardDeck {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  }
#cardDeck p{
  font-size: 0.9ex;
  margin: 0.8ex;
  border: 0.1ex solid rgba(255, 255, 255, 0.6);
  padding:0.5ex;
  border-radius: 0.5ex;
  color: rgba(250,250,250,1);
  background-color: rgba(200, 255, 255, 0.1);
  }
.card:not([hidden]) {
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  grid-template-rows: 10% 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  box-sizing: border-box;
  }
.cardTitle {
  font-size: 0.9ex;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 196, 15);
  color: white;
  box-sizing: border-box;
  }
.cardImage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 161, 65);
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  }
.cardCode {
  position: relative;
  font-size: 1.3ex;  
  }
.disableSelection {/*where is needed?*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  }
#mouseOverCodeBlock {
  position: absolute;
  top: 36%;
  left: 65.5%;
  width: 34.5%;
  height: 35%;
  box-sizing: border-box;
  background-color: rgb(223, 72, 16);
  }
.commonCode {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  width: 47%;
  height: 34%;
  background-color: rgb(155, 155, 155);
  font-size: 2ex;
  }
.buttonContainer {/* Adds to the common style to place them */
  position: absolute;
  bottom: 0;
  right: 13%;
  }
.overlayTextarea {/* Adds to the common style to size it 100% */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
.draggingCard{
  filter: grayscale(80%);
  transition: filter 0.3s;        
  }
#dragDropImg {
  width: 5%;
  z-index: 99;
  height: auto;
  position: absolute;
  pointer-events: none;
  }
.panic {/*override from BaseStyle*/
  opacity: 0;
  animation: initialDelay 50s linear 1, hintCycle 40s linear infinite;
  animation-delay: 0s, 50s;
  transition: opacity 1s ease-in-out;
  bottom: -2%;
  left: 84%;
  }
.speechBubble {/*override from BaseStyle*/
  top: 10%;
  left: -25%;
  }
@keyframes hintInitialDelay { 0% { opacity: 0; } 100% { opacity: 0; } }
@keyframes hintCycle {
    0% { opacity: 0; }
    5% { opacity: 1; }
   45% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 0; }
  }

.noSelect { user-select: none; }
#apiContainer { overflow-y: scroll; }