* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-variant-ligatures: inherit;
  font-kerning: inherit;
  font-family: inherit;
  font-display: inherit;
  -webkit-font-smoothing: inherit;
  text-rendering: inherit;
  text-size-adjust: inherit;
  text-rendering: inherit;
  line-height: inherit;
  box-sizing: border-box;  
}
body {
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameArea {
  --effective-width: min(100vw, 210vh);
  width: var(--effective-width);
  aspect-ratio: 2.1;
  position: relative;
  background-color: rgb(200, 200, 200);
  font-size: calc(var(--effective-width) * 0.05);
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
  text-rendering: geometricPrecision;
  font-weight: 700;
  font-variant-ligatures: none;
  font-kerning: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;  
  text-size-adjust: 100%;
}
